{{!< default}}

{{! The comment above "< default" means - insert everything in this file into
    the {body} of the default.hbs template, which contains our header/footer. }}

{{! Everything inside the #post tags pulls data from the post }}
{{#post}}

<header class="main-header post-head {{#if image}}" style="background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url({{image}}){{else}}no-cover{{/if}}">
    <nav class="main-nav {{#if image}}overlay{{/if}} clearfix">
        {{#if @blog.logo}}<a class="blog-logo" href="{{@blog.url}}"><img src="{{@blog.logo}}" alt="{{@blog.title}}" /></a>{{/if}}
        {{#if @blog.navigation}}
            <a class="menu-button icon-menu" href="#"><span class="word">Menu</span></a>
        {{/if}}
    </nav>
</header>

<main class="sub content" role="main">
    <article class="{{post_class}}">

        <header class="post-header">
            <h1 class="post-title">{{title}}</h1>
            <section class="post-meta">
                <time class="post-date" datetime="{{date format='YYYY-MM-DD'}}">{{date format="DD MMMM YYYY"}}</time> {{tags prefix=" on "}}
            </section>
        </header>

        <section class="post-content">
            {{content}}
        </section>

        <ul class="post-side-nav">
            {{#prev_post}}
                <li>
                    <a href="{{url}}" title="Previous post - {{title}}">
                        <i class="fa fa-chevron-left"></i>
                    </a>
                </li>
            {{/prev_post}}
            <li>
                <a href="/">
                    <i class="fa fa-home"></i>
                </a>
            </li>
            {{#next_post}}
                <li>
                    <a href="{{url}}" title="Next post - {{title}}">
                        <i class="fa fa-chevron-right"></i>
                    </a>
                </li>
            {{/next_post}}
        </ul>

        <div class="social-likes">
            <div style="padding-bottom: 18px;" class="facebook" title="Share link on Facebook">Facebook</div>
            <div style="padding-bottom: 18px;" class="twitter" data-via="inmobi @doselecthq #LifeatInMobi" title="Share link on Twitter">Twitter</div>
            <div style="padding-bottom: 18px;" class="plusone" title="Share link on Google+">Google+</div>
            <div>
                <script src="//platform.linkedin.com/in.js" type="text/javascript"></script>
                <script type="IN/Share" data-counter="right"></script>
            </div>
        </div>

    </article>
</main>
{{/post}}
